<h1 class="my-5 display-3 thick-underline blue-underline">Cocktails</h1>
<div id="cocktails">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card">
      <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, class: "cocktail-card-img", :gravity=>"north", :height=>180, :quality=>85, :width=>248, :crop=>"lpad" %>
      <% else %>
        <%= image_tag "cocktail.jpg", alt: "A cocktail", class: "cocktail-card-img" %>
      <% end %>
    <div class="cocktail-card-body">
      <h5><%= cocktail.name %></h5>
      <%= link_to icon("fas", "glass-martini-alt"), cocktail_path(cocktail), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>
