<h1 class="my-5 display-3 thick-underline blue-underline">New Cocktail</h1>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, label: "Cocktail name" %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create cocktail", class: "btn btn-primary" %>
<% end %>

