// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#cocktails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.cocktail-dose {
  display: inline-flex;
  justify-content: space-between;
}

.cocktail-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  #cocktails {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  #cocktails {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  #cocktails {
    grid-template-columns: 1fr;
  }
}
