<div class="welcome-container">
  <div id="welcome" class="d-flex flex-column align-items-center">
    <h1 class="display-1">Hard Shake</h1>
    <a class="btn btn-primary" href="#" role="button">I promise</a>
  </div>
</div>

