<div class="welcome-container">
    <div id="welcome" class="d-flex flex-column align-items-center">
      <h1 class="display-1">Hard Shake</h1>
      <p>You must promise that you're at least 18 years old to enter this site</p>
      <%= link_to "I promise", cocktails_path, class: "btn btn-primary" %>
    </div>    
</div>

