.cocktail-card {
  background: white;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid $light-yellow;

  .cocktail-card-body {
    margin: 30px 20px 40px 20px;
  }

  .btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -25px;
    right: 20px;
    box-shadow: 0 0 6px $dark-pink;
    transition: all 500ms;

    &:hover{
      transform: rotate(45deg);
    }
  }

}

.cocktail-card-img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  border-bottom: 20px solid $dark-blue;
}
